@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Black+Ops+One&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Bubbles&family=Rubik+Moonrocks&display=swap');

body{
    background-color: rgb(228, 231, 240);
    padding: 0;
    margin: 0;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    zoom: 0.9;
}


body.loaded {
    opacity: 1;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}

.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
    gap:40px ;
}

.text{
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Georgia sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.text p {
    color: #ffffff;
    border: 1px solid white;
    padding: 20px;
    width: 320px;
    background-color: rgba(94, 19, 222, 0.57);
    box-sizing: border-box;
    border-radius: 11px;
    transition: background-color ease-in-out 1s;
}


.element, .count{
    background-color: rgba(67, 116, 189, 0.16);
    border-radius: 11px;
    margin: 20px 0;
    opacity: 0.8;
    transition: opacity ease-in-out 0.4s, background-color linear 0.4s, transform ease-in-out 0.4s;
    box-shadow:
            inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0.7em 0.7em 1em rgba(0, 0, 0, 0.3);
}

.element:hover, .count:hover {
    opacity: 1;
    transform: scale(1.1);
}

.block img{
    max-width: 360px;
}

.container h1{
    text-align: center;
    margin: 20px 0;
    font-size: 47px;
}

h1 {
    color: rgb(198, 172, 243);
    padding-left: 40px;
    font-family: 'Rubik Bubbles', sans-serif;
    letter-spacing: 1px;
}

.h1font{
    font-family: 'Rubik Moonrocks', serif;
}

.flower{
    color: rgba(85, 154, 80, 0.35);
}


.animated-heading span {
    display: inline-block;
    vertical-align: middle;
    transform-origin: center;
}

.img + h2, .text h2{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}

h2{
    font-family: 'Bitter', sans-serif;
}

h3{
    text-align: center;
    box-sizing: border-box;
    color: rgb(198, 172, 243);
    font-size: 37px;
    font-family: 'Rubik Bubbles', sans-serif;
    letter-spacing: 1px;
}

.element a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(162, 110, 245, 0.83);
    padding: 11px;
    border-radius: 11px;
    transition: background-color ease-in-out 0.4s, box-shadow ease-in-out 0.4s;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.element a:hover{
    background-color: rgba(53, 131, 13, 0.58);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.img{
    text-align: center;
    margin-bottom: 60px;
}

.img img{
    opacity: 0.8;
    width: 400px;
    border-radius: 20px;
    box-shadow:
            inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0 0 0 2px rgb(228, 231, 240),
            0.7em 0.7em 1em rgba(0, 0, 0, 0.3);
}

.top{
    background: rgb(198, 172, 243);
    margin: 0;
    border-radius: 20px;
    transition: background-color linear 0.4s;
}

.top:hover{
    background-color: rgb(159, 121, 227);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.top .blogio{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.detail{
    background: rgba(67, 106, 189, 0.09);
    padding: 20px 20px 60px;
    border-radius: 20px;
    border: 3px solid rgba(94, 152, 89, 0.18);
    font-family: 'Bitter', sans-serif;
    color: #575656;
    font-size: 1.1rem;
    font-weight: 500;
}

.blog_text{
    padding: 20px;
    box-sizing: border-box;
}

.countio{
    padding: 10px 20px;
    color: rgba(93, 76, 101, 0.75);
}

.menu{
    background: rgb(232, 235, 242);
    padding: 10px;
    border-bottom: 5px solid rgba(85, 154, 80, 0.2);
    border-radius: 11px;
    box-shadow:
            inset 0 -3em 3em rgba(67, 106, 189, 0.27),
            0 0 0 2px rgb(228, 231, 240),
            0.7em 0.7em 1em rgb(227, 227, 231);
}

.menu .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.menu .main-menu{
    color: #e4e7f0;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Rubik Bubbles', sans-serif;
    background-color: rgb(198, 172, 243);
    padding: 11px;
    margin-left: 6px;
    border-radius: 11px;
    border: 3px solid rgba(94, 152, 89, 0.18);
    transition: background-color ease-in-out 0.4s, box-shadow ease-in-out 0.4s;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}



.menu .main-menu:hover{
    background-color: rgb(163, 117, 245);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

}

.menu ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}

.menu li{
    margin-left: 5px;
}

.logo img{
    opacity: 0.8;
    border-radius: 11px;
    transition: opacity ease-in-out 0.4s, background-color ease-in-out 0.4s;
}

.logo img:hover{
    opacity: 1;
    background-color: rgba(163, 112, 218, 0.47);
}

.textio p {
    color: #706f6f;
    padding: 20px;
    background-color: rgba(67, 106, 189, 0.12);
    box-sizing: border-box;
    border-radius: 11px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    border: 3px solid rgba(85, 154, 80, 0.12);
}

 h5{
    color: rgba(93, 76, 101, 0.5);
    padding-left: 15px;
     font-size: 1.3rem;
     font-family: 'Rubik Moonrocks', serif;
     letter-spacing: 1px;
}

.animated-opacity {
    opacity: 1;
    transition: opacity 4s ease-in-out;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.shape {
    width: 40px;
    height: 40px;
    background-color: rgba(183, 112, 218, 0.67);
    margin-right: 380px;
    border-radius: 11px;
    transition: background-color 2.2s ease;
    animation: colorChange 3s infinite alternate ease-in-out;
}

@keyframes colorChange {
    0%, 100% {
        background-color: rgba(85, 154, 80, 0.35);
    }
    16.666% {
        background-color: rgba(85, 154, 80, 0.56);
    }
    33.333% {
        background-color: rgba(85, 154, 80, 0.78);
    }
    50% {
        background-color: rgba(85, 154, 80, 0.35);
    }
    66.666% {
        background-color: rgba(85, 154, 80, 0.56);
    }
    83.333% {
        background-color: rgba(85, 154, 80, 0.72);
    }
}