{% extends 'todo/home.html' %}

{% block content %}

<h1><span class="flower">&#11015</span>  Executed Tasks <span class="flower">&#11015</span></h1>
<ul>
    {% for todo in todos  %}
    <li>
        <a href="#">
            {% if todo.important %}
            <b>{{ todo.title }}</b>
            {% else %}
            {{ todo.title }}
            {% endif %}
            {% if todo.memo %}
            - {{ todo.memo }}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}