{% extends 'todo/home.html' %}

{% block content %}

<script>
    $(document).ready(function() {
        $("h1").css("transform", "translateY(0)");
        $("ul").css("transform", "translateY(0)");
    });
</script>

<h1 style="transform: translateY(-100%); transition: ease-in-out 1s"> <span class="flower">&#11015</span> Tasks <span class="flower">&#11015</span></h1>
<ul style="transform: translateY(100%); transition: ease-in-out 1s">
    {% for todo in todos  %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">
            {% if todo.important %}
            <b>{{ todo.title }}</b>
            {% else %}
            {{ todo.title }}
            {% endif %}
            {% if todo.memo %}
            - {{ todo.memo }}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}