@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Black+Ops+One&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Bubbles&family=Rubik+Moonrocks&display=swap');

body{
    background-color: rgb(228, 231, 240);
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
    zoom: 0.9;
}

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

.menu{
    background: rgb(232, 235, 242);
    padding: 10px;
    border-bottom: 3px solid rgba(34, 35, 35, 0.22);
    border-radius: 11px;
    box-shadow:
            inset 0 -3em 3em rgba(219, 177, 188, 0.1),
            0 0 0 2px rgb(228, 231, 240),
            0.7em 0.7em 1em rgb(227, 227, 231);
}

ul{
    list-style: none;
    padding: 0;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.menu .logo{
    margin-right: 10%;
    color: rgba(149, 99, 248, 0.65);
    font-size: 1.7rem;
    border-radius: 11px;
    white-space: nowrap;
    font-family: 'Rubik Bubbles', sans-serif;
}

.menu .main-menu{
    color: #e4e7f0;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Rubik Bubbles', sans-serif;
    background-color: rgb(219, 177, 188);
    padding: 11px;
    margin-left: 11px;
    border-radius: 11px;
    border: 3px solid rgba(94, 152, 89, 0.18);
    transition: background-color ease-in-out 0.4s, box-shadow ease-in-out 0.4s;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.menu .main-menu:hover{
    background-color: rgb(163, 117, 245);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.menu .main-back{
    background-color: rgba(198, 172, 243, 0.04);
    font-weight: bold;
    color: #6a74d3;
    padding: 14px;
    font-size: 1.4em;
    border-radius: 11px;
    text-decoration: none;
    margin-left: 20px;
    transition: background-color, color linear 0.3s;
}

.menu .main-back:hover{
    background-color: #6a74d3;
    color: #ffffff;
}

.content .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

h1, h2{
    color: #8f95d3;
}

.btn{
    background: rgba(195, 234, 192, 0.63);
    color: white;
    border-radius: 11px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: background-color ease-in-out 0.3s;
}

.btn:hover{
    background-color: rgba(150, 234, 144, 0.88);
}

button{
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow: inset 0 0 6px 2px #c6acf3;
    margin-top: 40px;
    font-size: 20px;
    cursor: pointer;
}

.center{
    text-align: center;
}

input{
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top: 4px;
}

.bg{
    box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.13);
    padding: 100px;
    border: 1px solid #c4c9ce;
    border-radius: 6px;
    background-color: rgba(219, 177, 188, 0.4);
}

.top{
    padding: 11px 20px;
    margin-top: 0;
    border: none;
    color: white;
    background-color: #c6acf3;
    margin-left: 100px;
    border-radius: 11px;
}

.content li {
    margin-bottom: 20px;
    font-size: 20px;
}

.content a{
    color: white;
    display: block;
    padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.btn_good{
    margin-right: 165px;
    display: block;
    background-color: rgba(192, 226, 234, 0.66);
    color: white;
    border-radius: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color ease-in-out 0.3s;
}

.btn_good:hover{
    background-color: rgba(135, 219, 239, 0.89);
}

h1{
     font-family: 'Rubik Bubbles', serif;
     font-size: 37px;
}

label{
     color: rgba(8, 1, 23, 0.49);
     font-size: 1.3rem;
     font-family: 'Roboto Condensed', sans-serif;
     letter-spacing: 1px;
     font-weight: bold;
}

label, #id_username{
    border-radius: 11px;
}

label, #id_password{
    border-radius: 11px;
}

label, #id_password1{
    border-radius: 11px;
}

label, #id_password2{
    border-radius: 11px;
}

.flower{
    color: rgba(85, 154, 80, 0.35);
}

.register ul {
    margin-top: 16px;
}

.register li {
    box-shadow: none;
    font-size: 14px;
    margin-bottom: 0;
}

.helptext {
    font-size: 14px;
}

.register label {
    font-size: 18px;
    font-weight: bold;
}

.register button {
    margin-top: 10px;
}